.grid-container {
  display: grid;
  grid-template-columns: repeat(120, 14px);
  padding: 0px;
  background-color: black;
}
.grid-item {
  padding: 0px;
  font-size: 20px;
  color: white;
  text-align: center;
}

body {
  background-color: black;
}

h2 {
  color: white;
}